<h1>Articles I Hacked Together</h1>
<h3 class="subtitle">Pun <span class="strong">SO</span> intended.</h3>
<br>

<h4>Creating a Developer Blog:</h4>
<div class="dynamic-center">
  <p>
    <a href="/hello-world-sinatra-heroku">
      Create a Hello World app with Sinatra and Heroku
    </a>
  </p>
  <p>Structuring Sinatra to Easiest Host a Blog</p>
  <p>Add Syntax Highlighting with Prism.js</p>
  <p>Set Up a Custom Domain Name</p>
  <p>Use Kaffeine to Stay Awake</p>
  <p>Use Google's Tools for SEO</p>
</div>