h1 Articles I Hacked Together
h3.subtitle
  | Pun 
  span.strong SO
  |  intended.
br/
h4 Creating a Developer Blog:
.dynamic-center
  p
    a href="/hello-world-sinatra-heroku" 
      | Create a Hello World app with Sinatra and Heroku
  p
    a href="/structure-sinatra-easy-blog"
      | Structuring Sinatra to Easiest Host a Blog
  p Add Bootstrap and Other CSS/JS Files
  p Add Syntax Highlighting with Prism.js
  p Set Up a Custom Domain Name
  p Use Kaffeine to Stay Awake
  p Use Google's Tools for SEO
