<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/prism.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/prism.js"></script>
    <title>Gerry Pass' Portfolio</title>
  </head>
  
  <body>
    <%= erb :_navigation %>

    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>