<!-- TODO: Add hackathons, icons for fb, GitHub, LinkedIn, email -->

<h1 class="blue text-center">Gerry Pass</h1>
<h3 id="slogan" class="blue text-center">Web Developer, Lover of Startups, Drone Pilot</h3>

<section id="cd-timeline" class="cd-container">
  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture">
      <img src="img/job.svg" alt="Picture">
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2>Web Development Instructor</h2>
      <h2><a href="https://generalassemb.ly/">General Assembly</a></h2>
      <p>
        General Assembly's <a href="https://generalassemb.ly/education/web-development-immersive">Web Development Immersive course</a> is a 12-week long immersive class focusing on the fundamentals of web development. The scope of the class included:
        <ul>
          <div class="row">
            <div class="col-xs-4">
              <li>Ruby basics</li>
              <li>Git and GitHub</li>
              <li>OOP and OOD</li>
              <li>TDD via RSpec</li>
            </div>
            <div class="col-xs-4">
              <li>SQL via PostgreSQL</li>
              <li>Rails 4</li>
              <li>BDD via Cucumber</li>
              <li>JavaScript & CoffeeScript</li>
            </div>
            <div class="col-xs-4">
              <li>Underscore.js</li>
              <li>AngularJS</li>
              <li>TDD via Jasmine</li>
              <li>CS Topics</li>
            </div>
          </div>
        </ul>
      </p>
      <!-- <a href="#0" class="cd-read-more">Read more</a> -->
      <span class="cd-date">Sept 14 - Present</span>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture">
      <img src="img/project.svg" alt="Picture">
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2>Creator</h2>
      <h2><a href="http://gp-ga-spa.herokuapp.com/">Movie Search</a></h2>
      <p>Prior to working at General Assembly, it was required to make a SPA (Single Page Application) for searching up movies using JavaScript. GA provided a list of potential bonuses and all of them were incorporated. They included:</p>
      <ul>
        <div class="row">
          <div class="col-xs-6">
            <li>Use Handlebar.js for templating</li>
            <li>Use Rails for the back-end</li>
            <li>Incorporate HTML5 pushState</li>
          </div>
          <div class="col-xs-6">
            <li>Apply Bootstrap styling</li>
            <li>Use Slim over ERb</li>
            <li>Push to Heroku</li>
          </div>
        </div>
      </ul>
      <span class="cd-date">July 14</span>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture">
      <img src="img/book.svg" alt="Picture">
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2><a href="http://www.poodr.com/">Practical Object-Oriented Design in Ruby</a></h2>
      <h2>by <a href="http://www.sandimetz.com/">Sandi Metz</a></h2>
      <p></p>
      <span class="cd-date">June 14</span>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture">
      <img src="img/job.svg" alt="Picture">
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2>Software Engineering Contractor</h2>
      <h2><a href="http://rotorcommerce.herokuapp.com/">RotorCommerce</a></h2>
      <p></p>
      <span class="cd-date">Jun 14 - Aug 14</span>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture">
      <img src="img/project.svg" alt="Picture">
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2>Founder</h2>
      <h2><a href="https://www.happs.io">Happs</a></h2>
      <p></p>
      <span class="cd-date">May 14 - Present</span>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture">
      <img src="img/book.svg" alt="Picture">
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2><a href="http://www.amazon.com/gp/product/0321584104/ref=as_li_ss_tl?ie=UTF8&tag=eloqruby-20&linkCode=as2&camp=217145&creative=399349&creativeASIN=0321584104">Eloquent Ruby</a></h2>
      <h2>by <a href="http://russolsen.com/">Russ Olsen</a></h2>
      <p></p>
      <span class="cd-date">Apr 14</span>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture">
      <img src="img/job.svg" alt="Picture">
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2>Software Engineering Contractor</h2>
      <h2><a href="http://rigor.com/">Rigor</a></h2>
      <p></p>
      <span class="cd-date">Jan 14 - Apr 14</span>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture">
      <img src="img/hackathon.svg" alt="Picture">
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2>Co-Developer</h2>
      <h2><a href="http://www.jordanstreiff.com/atlanta-districts/">ATL Districts</a></h2>
      <p></p>
      <span class="cd-date">Nov 13</span>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->
  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture">
      <img src="img/project.svg" alt="Picture">
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2>Creator</h2>
      <h2><a href="http://rnott.herokuapp.com/">Random Night on the Town</a></h2>
      <p></p>
      <span class="cd-date">Sept 13</span>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture">
      <img src="img/project.svg" alt="Picture">
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2>Creator</h2>
      <h2><a href="http://mydysfunctionalworkplace.com/">My Dysfunctional Workplace</a></h2>
      <p></p>
      <span class="cd-date">June 13</span>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture">
      <img src="img/tutorial.svg" alt="Picture">
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2><a href="http://www.michaelhartl.com/">Michael Hartl</a>'s <a href="https://www.railstutorial.org/">Rails Tutorial</a></h2>
      <h2><a href="https://gpsampleapp.herokuapp.com/">Twitter Clone</a></h2>
      <p></p>
      <span class="cd-date">May 13</span>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture">
      <img src="img/tutorial.svg" alt="Picture">
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2><a href="https://twitter.com/mattangriffel">Mattan Griffel</a>'s <a href="https://onemonth.com/courses/one-month-rails/">One Month Rails</a></h2>
      <h2><a href="http://pacific-beyond-2722.herokuapp.com/">Pinterest Clone</a></h2>
      <p></p>
      <span class="cd-date">Apr 13</span>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->
</section> <!-- cd-timeline -->