/* Generic */
html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 10px;
}

body {
  margin-top: 60px;
}

/* Colors */
.blue {
  color: #2196f3;
}

/* Text */
.strong {
  font-weight: bold;
}

#slogan {
  margin-top: 20px;
  margin-bottom: 30px;
}

/* Navbar */
/* Change navbar height */
.navbar-nav > li > a {padding-top:10px !important; padding-bottom:10px !important;}
.navbar {min-height:40px !important}

.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
}

/* Bullets */
#cd-timeline {
  font-size: 0.8em;
}