/* Generic */
html {
  overflow-y: scroll;
}

section {
  overflow: hidden;
}

textarea {
  resize: vertical;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 10px;
}

body {
  margin-top: 60px;
}

/* Colors */
.theme-main {
  color: #00b79c;
}

/* Text */
.strong {
  font-weight: bold;
}

#slogan {
  margin-top: 20px;
  margin-bottom: 30px;
}

/** START: Navbar **/
/* Change navbar height */
.navbar-nav > li > a {padding-top:10px !important; padding-bottom:10px !important;}
.navbar {min-height:40px !important}

.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
}
/** END: Navbar **/

li i {
  margin-top: 5px;
}

/** START: Editing CD stuff **/
/* Fonts */
@media only screen and (max-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 2rem; /* Was 1.25rem */
    margin-top: 0px;
    margin-bottom: 5px;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 1170px) {
  h1, h3 {
    text-align: left;
  }
}

@media only screen and (min-width: 1170px) {
  h1, h3 {
    text-align: center;
  }
}

/* Bullets */
#cd-timeline {
  font-size: 0.8em;
}

/* Icons */
.icon {
  background: #00b79c; /* Was #75ce66 */ /* Suggest: #303e49 */
}
img.job {
  width: 35px;
  height: 35px;
  position: relative;
  left: 43%;
  top: 40%;  
}
img.hackathon {
  width: 35px;
  height: 35px;
  position: relative;
  left: 40%;
  top: 38%;  
}
img.tutorial {
  width: 35px;
  height: 35px;
  position: relative;
  left: 43%;
  top: 45%;
}
/** END: Editing CD stuff **/

/** START: Explanations **/
#explanations {
  color: white;
}
#explanations img {
  width: 35px;
  height: 35px;
  left: 43%;
  top: 40%; 
}

/** END: Explanations **/