h3 Chapter 1
h4 Notes
p
  | They key soft skills to know are: Managing your career, Marketing yourself, Learning and self-teaching, Being productive, Managing your financials, Being healthy, and Being spiritual.
h4 Action Items
p
  | The first chapter does not have any action items.